<div id="display">


<div id="one" class="container"  >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="a" class="col-md-1" ng-model="one">
    {{one.top}}
    </div>
    <div id="a" class="col-md-1" ng-model="two">
    {{two.top}}
    </div>
    <div id="a" class="col-md-1" ng-model="three">
    {{three.top}}
    </div>
    <div id="a" class="col-md-1" ng-model="four">
    {{four.top}}
    </div>
    <div id="a" class="col-md-1" ng-model="five">
    {{five.top}}
    </div>
    <div id="a" class="col-md-1" ng-model="six">
    {{six.top}}
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
<div class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="b" class="col-md-1" ng-model="one">
      {{one.bottom}}
      <input type="string" ng-model="one.answer">
    </div>
    <div id="b" class="col-md-1" ng-model="two">
      {{two.bottom}}
      <input type="string" ng-model="two.answer">
    </div>
    <div id="b" class="col-md-1" ng-model="three">
      {{three.bottom}}
      <input type="string" ng-model="three.answer">
    </div>
    <div id="b" class="col-md-1" ng-model="four">
      {{four.bottom}}
      <input type="string" ng-model="four.answer">
    </div>
    <div id="b" class="col-md-1" ng-model="five">
      {{five.bottom}}
      <input type="string" ng-model="five.answer">
    </div>
    <div id="b" class="col-md-1" ng-model="six">
      {{six.bottom}}
      <input type="string" ng-model="six.answer">
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div id="two" class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="c" class="col-md-1" ng-model="seven">
      {{seven.top}}
    </div>
    <div id="c" class="col-md-1" ng-model="eight">
      {{eight.top}}
    </div>
    <div id="c" class="col-md-1" ng-model="nine">
      {{nine.top}}
    </div>
    <div id="c" class="col-md-1" ng-model="ten">
      {{ten.top}}
    </div>
    <div id="c" class="col-md-1" ng-model="eleven">
      {{eleven.top}}
    </div>
    <div id="c" class="col-md-1" ng-model="twelve">
      {{twelve.top}}
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="d" class="col-md-1" ng-model="seven">
      {{seven.bottom}}
      <input type="string" ng-model="seven.answer" />
    </div>
    <div id="d" class="col-md-1" ng-model="eight">
      {{eight.bottom}}
      <input type="string" ng-model="eight.answer">
    </div>
    <div id="d" class="col-md-1" ng-model="nine">
      {{nine.bottom}}
      <input type="string" ng-model="nine.answer">
    </div>
    <div id="d" class="col-md-1" ng-model="ten">
      {{ten.bottom}}
      <input type="string" ng-model="ten.answer">
    </div>
    <div id="d" class="col-md-1" ng-model="eleven">
      {{eleven.bottom}}
      <input type="string" ng-model="eleven.answer">
    </div>
    <div id="d" class="col-md-1" ng-model="twelve">
      {{twelve.bottom}}
      <input type="string" ng-model="twelve.answer">
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div id="three" class="container" >
  <div class="row">
    <div  class="col-md-3">
    </div>
    <div id="e" class="col-md-1" ng-model="thirteen">
      {{thirteen.top}}
    </div>
    <div id="e" class="col-md-1" ng-model="fourteen">
      {{fourteen.top}}
    </div>
    <div id="e" class="col-md-1" ng-model="fifteen">
      {{fifteen.top}}
    </div>
    <div id="e" class="col-md-1" ng-model="sixteen">
      {{sixteen.top}}
    </div>
    <div id="e" class="col-md-1" ng-model="seventeen">
      {{seventeen.top}}
    </div>
    <div id="e" class="col-md-1" ng-model="eightteen">
      {{eightteen.top}}
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="f" class="col-md-1" ng-model="thirteen">
      {{thirteen.bottom}}
      <input type="string" ng-model="thirteen.answer">
    </div>
    <div id="f" class="col-md-1" ng-model="fourteen">
      {{fourteen.bottom}}
      <input type="string" ng-model="fourteen.answer">
    </div>
    <div id="f" class="col-md-1" ng-model="fifteen">
      {{fifteen.bottom}}
      <input type="string" ng-model="fifteen.answer">
    </div>
    <div id="f" class="col-md-1" ng-model="sixteen">
      {{sixteen.bottom}}
      <input type="string" ng-model="sixteen.answer">
    </div>
    <div id="f" class="col-md-1" ng-model="seventeen">
      {{seventeen.bottom}}
      <input type="string" ng-model="seventeen.answers">
    </div>
    <div id="f" class="col-md-1" ng-model="eightteen">
      {{eightteen.bottom}}
      <input type="string" ng-model="eightteen.answer">
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div id="four" class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="g" class="col-md-1" ng-model="nineteen">
      {{nineteen.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twenty">
      {{twenty.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentyone">
      {{twentyone.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentytwo">
      {{twentytwo.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentythree">
      {{twentythree.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentyfour">
      {{twentyfour.top}}
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="g" class="col-md-1" ng-model="nineteen">
      {{nineteen.bottom}}
      <input type="string" ng-model="nineteen.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twenty">
      {{twenty.bottom}}
      <input type="string" ng-model="twenty.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentyone">
      {{twentyone.bottom}}
      <input type="string" ng-model="twentyone.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentytwo">
      {{twentytwo.bottom}}
      <input type="string" ng-model="twentytwo.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentythree">
      {{twentythree.bottom}}
      <input type="string" ng-model="twentythree.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentyfour">
      {{twentyfour.bottom}}
      <input type="string" ng-model="twentyfour.answer">
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div id="five"  class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="g" class="col-md-1" ng-model="twentyfive">
      {{twentyfive.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentysix">
      {{twentysix.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentyseven">
      {{twentyseven.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentyeight">
      {{twentyeight.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="twentynine">
      {{twentynine.top}}
    </div>
    <div id="g" class="col-md-1" ng-model="thirty">
      {{thirty.top}}
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-3">
    </div>
    <div id="g" class="col-md-1" ng-model="twentyfive">
      {{twentyfive.bottom}}
      <input type="string" ng-model="twentyfive.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentysix">
      {{twentysix.bottom}}
      <input type="string" ng-model="twentysix.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentyseven">
      {{twentyseven.bottom}}
      <input type="string" ng-model="twentyseven.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentyeight">
      {{twentyeight.bottom}}
      <input type="string" ng-model="twentyeight.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="twentynine">
      {{twentynine.bottom}}
      <input type="string" ng-model="twentynine.answer">
    </div>
    <div id="g" class="col-md-1" ng-model="thirty">
      {{thirty.bottom}}
      <input type="string" ng-model="thirty.answer">
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
</div>

<button ng-click="correct()">Submit</button>


{{counter}}
